<html>
  <head>
        <meta charset="utf-8">  
     <title>Про нашу команду</title>
        <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="all,index,follow">
  <meta name="distribution" content="global">
  <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1.0">
            <link rel="stylesheet" type="text/css" href="public\style\main.css">
         <script src="public\script\device.js"></script>
         <script src="public\script\main.js"></script> 
        
  </head>
       <body>
                
            
        <div id="menu1"><a href="/">Школи <div id="line" style="opacity: 1;"></a></div></div>
        <div id="menu2"><a href="/sad">Садки <div id="line"></a></div></div>
         <div id="menu3"><a href="/info">Про нас <div id="line"></a></div></div>
         <div id="menu4"><a href="/reg">Реєстрація <div id="line"></a></div></div>

     <div id="menu"><div class="z"><img src="image/search.png" onclick=Founder()></div><div id="scroll_bar"><img src="image/scroll.png" onclick=up(0)></div></div>
              
              <div id="outside_menu"> 
               
              </div>
                   
                <div id="outside">
                    <p id="index_outside">Навігація по сторінці</p>
                      <div id="href">
                        <div id="href1" onclick=up(0)>На початок</div>
                        <div id="href3" onclick=up(-1)>У кінець</div>
                      </div>
                    <p id="index_outside" style="margin-top: 50px;">Пошук на сайті</p>
                     <input type="search" id="search">
                </div>

                               <div class="Background"></div><div class="BigPhoto"><img class="exit" onclick="Exit()" src="image/exit.png"><img id="bigPhoto"></div>

                <div id="main">
                    <div class="content">
                      <div id="h">Про нас  </div>
                   <p id="card">Какой-то текст</p>



                    </div>

                    
                    <div id="outher">
                        <div id="cols">
                           <img id="img1" src=" im .jpg">
                            <a href="str1.html">Имя </a>
                            <p class="cp">Роль в команде</p>
                        </div>
                        <div id="cols1">                        
                          <img id="img1" src="image/7.jpg"> 
                           <a href="str2.html">Имя </a>
                            <p class="cp">Роль в команде</p>
                        </div>
                        <div id="cols2">                       
                          <img id="img1" src="image/6.jpg"> 
                           <a href="str3.html">Имя </a>
                            <p class="cp">Роль в команде </p>
                        </div>
                    </div>
                </div>

             <div class="founder">
               <p id="index_founder">Пошук на сайті</p>
               <input type="search" class="search" placeholder="Що шукати?">
                 <hr>
                  <div id="result"></div>
                  <div class="hr-br"></div>
                  <div class="back" onclick="ExitFoundMode()">Повернутися до сайту.</div>
             </div>

                <div id="foot_line"></div>
              <div id="footer">
                 <div id="foot_text">Сайт створив *******</div>
                                  <div id="foot_text">Телефон 000000000</div>
              </div>
       </body>
</html>