<html>
  <head>
        <meta charset="utf-8">  
     <title>Пошук садків</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="all,index,follow">
  <meta name="distribution" content="global">
  <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <link rel="stylesheet" type="text/css" href="style\main.css">
         <script src="script\device.js"></script>
         <script src="script\main.js"></script> 
         <style type="text/css">
  #new2{
    margin-top: -110px;
  }


</style>
        
  </head>
       <body>
                 <div id="menu">
            <div id="menu1"><a href="index.html">Школи <div id="line" ></a></div></div>
            <div id="menu2"><a href="sad.html">Садки <div id="line" style="opacity: 1;"></a></div></div>
            <div id="menu3"><a href="info.html">Про нас <div id="line"></a></div></div>
            <div id="menu4"><a href="reg.html">Реєстрація<div id="line"></a></div></div>
   </div>
   
              
               
              <div class="dropdown">
  <button class="mainmenubtn"> 
<p></p>
<div class="container" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

  </button>
  <div class="dropdown-child">
    <a href=" " >Фізмат <form> <input type="checkbox"></form></a>
    <a href=" ">Хімбио<form> <input type="checkbox"></form></a>
    <a href=" ">Спортивна <form> <input type="checkbox"></form></a>
    <a href= "">Художня<form> <input type="checkbox"></form></a>
    <a > <script>
function myFunction(x) {
    x.classList.toggle("change");
}
</script>
              
            <h1>Средние балы ЗНО</h1>

<div class="""slidecontainer">
  <input type="range" min="1" max="200" value="0" class="slider" id="myRange">
  <p>Value: <span id="demo"></span></p>
</div>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>         </a>
  </div>
</div>

                              
<div id="new2">
                <div id="main">
                    <div class="content">
                      <div id="h">Пошук садків на карті  </div>
                   <p><iframe id="card" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2539.8900765160893!2d30.4813414!3d50.4617716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce7976bee27b%3A0x1d3e315c9ebba01c!2z0JvRg9C6J9GP0L3RltCy0YHRjNC60LA!5e0!3m2!1suk!2sua!4v1531813461281" width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p> </div>

                    
                    <div id="outher">
                        <div id="cols">
                           <img id="img1" src=" image/2.jpg">
                            <a href="http://www.felikids.com/?gclid=Cj0KCQjwnNvaBRCmARIsAOfZq-1QAyScDzDUoeGhqajFsf4DGnwLJqqc5Z9ojuNJ1bB5tXaylbOhqZkaAug4EALw_wcB">Садик </a>
                            <p class="cp">Інформація про заклад</p>
                        </div>
                        <div id="cols1">                        
                          <img id="img1" src="image/2.jpg"> 
                           <a href="http://www.felikids.com/?gclid=Cj0KCQjwnNvaBRCmARIsAOfZq-1QAyScDzDUoeGhqajFsf4DGnwLJqqc5Z9ojuNJ1bB5tXaylbOhqZkaAug4EALw_wcB">Садик </a>
                            <p class="cp">Інформація про заклад</p>
                        </div>
                        <div id="cols2">                       
                          <img id="img1" src="image/2.jpg"> 
                           <a href="http://www.felikids.com/?gclid=Cj0KCQjwnNvaBRCmARIsAOfZq-1QAyScDzDUoeGhqajFsf4DGnwLJqqc5Z9ojuNJ1bB5tXaylbOhqZkaAug4EALw_wcB">Садик </a>
                            <p class="cp">Інформація про заклад</p>
                        </div>
                    </div>
                </div>
</div>
            

                <div id="foot_line"></div>
              <div id="footer">
                 <div id="foot_text">Сайт створив *******</div>
                                  <div id="foot_text">Телефон 000000000</div>
              </div>
       </body>
</html>