<!DOCTYPE html>
<html>
<head>
	<title>Помилка</title>
	 
<style type="text/css">
	#h1, #p
	{
		text-align: center;
		   
		margin-top: 392px;

	}
	 a {
    text-decoration: none;
    color: black;  
   } 
   a:hover { 
    text-decoration: none;
    color: red;  
   } 

  
             

</style>
         
</head>
<body> 
<h1 id="h1">Помилка, спробуйте ще раз</h1>

<a href="index.html"  ><h2><p id="p">Повернутися на головну</p></h2></a>
</body>
</html>